@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	
}



* {
  box-sizing: border-box;
}

#info {
	position: absolute;
	top: 0;
	left: 0;
	color: red;
	font-size: 36px;
	font-family: 'Mochiy Pop P One', sans-serif;
	text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;

}


#info img{
	height: 55px;

}

#principal{
	display:none;
}



#menu{
	width: 100vw;
	height: 100vh;
	background-image: url("img/fondomonos.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family:'Gloria Hallelujah', cursive ;
	font-size:96px;
	color: #ff9654;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}


#botonplay{
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 250px;
	height: 250px;
}

#botonplay img{
	width: 100%;
}

#menu-final{
	display: none;

	
	justify-content: center;
	align-items: center;
	flex-direction: column;


	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("img/fondomonos.jpg");  
	background-repeat: no-repeat;
  	background-size: cover;
	
	font-family:'Gloria Hallelujah', cursive ;
	font-size:96px;
	color: #ff9654;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}



#menu-final-buttons-div{
	display: flex;
}

#boton-menu{
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 250px;
	height: 250px;
}

#boton-restart{
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 250px;
	height: 250px;
}


#screen-cover{
	
	background-color: rgba(0,0,0,1);
	height: 0;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-color: #000;
	border-style: solid;
	transform: translate(-50%, - 50%);
	
	
}


.fade-out{
	animation: fadeout 1s linear  ;
	z-index: 10 ;
	
}


@keyframes fadeout {
	to{
		border-top: 50vh;
		border-bottom: 50vh;
		border-left: 50vw;
		border-right:  50vw;
		border-color: #000;
		border-style: solid;
		
	}
}